[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium-wire = "*"
packaging = "*"
lxml = "*"
undetected-chromedriver = "*"
cloudscraper = "*"
tsutils = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
